webapp/**
extension/**
!extension/resources/**
shared/**
.vscode/**
.git/**
node_modules/**
src/**
build/**
*.vsix
*.md
!README.md
.gitignore
.prettierignore
vite.config.ts
tsconfig.json
tsconfig.extension.json
webpack.config.js
tailwind.config.js
package-lock.json
index.html
LICENCE
COMMERCIAL-LICENSE.md
